<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html";charset="utf-8">
    <title>Вывод результатов для последнего загруженного файла (с учётом предыдущих)</title>
</head>
<body>
    <form action="/add_new_file" target="_top">
          <input type="submit" value="Добавить ещё один файл"/>
    </form>

    <form action="/stop_process" target="_top">
          <input type="submit" value="Завершить расчёт"/>
    </form>

    <br>
{{ data_var|safe }}
</body>
</html>
